services:
  socket-nginx:
    container_name: socket-nginx
    build:
      context: ./socket
      dockerfile: DockerFile
    ports:
      - 8000:80
    environment:
      server: "backend server"
      room_name: "room name" # set it same with backend
    restart: always

  frontend:
    container_name: vue-prototype
    build:
      context: ./frontend
      dockerfile: DockerFile
      args:
        VITE_API_ENDPOINT: "backend server"
    ports:
      - 5173:80
    restart: always

  backend:
    container_name: backend
    build:
      context: ./server
      dockerfile: DockerFile
    ports:
      - 3000:3000
    environment:
      - ROOM_NAME="demo"
      - DATABASE_URL="postgresql://user:pwd@localhost:5432/mydb?schema=public" # postgres connection string
      - reIP="redis ip"
      - rePort="redis port"
      - slipKEY="slip2sure API-key"
      - JWT_SECERT="" # using openssl rand -hex 12
    depends_on:
      db:
        condition: service_healthy # Wait for PG to be ready to accept connections
      redis:
        condition: service_started
    restart: always

  db:
    image: postgres:14-alpine
    restart: always
    environment:
      - POSTGRES_USER=username
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=donate
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data # Mount the named volume to the data directory
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U username -d donate"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:latest # Or a specific version like redis:7.4-alpine
    restart: always
    ports:
      - "6379:6379" # Maps host port 6379 to container port 6379
    volumes:
      - redis_data:/data # Persist Redis data to a named volume

volumes:
  redis_data:
    driver: local
  postgres_data:
    driver: local
