services:
  frontend:
    container_name: vue-prototype
    build:
      context: .
      dockerfile: DockerFile
    ports:
      - 4173:4173
    # env:
    #   VITE_API_ENDPOINT: 'http://localhost:1920'
    #   VITE_API_TURNSTILE_SITE_KEY: '<TURNSTILE API KEY>'
    env_file:
      - ./.env
    restart: always
