services:
  socket-nginx:
    container_name: socket-nginx
    build:
      context: ./socket
      dockerfile: DockerFile
      args:
        server: ${BACKEND_DOMAIN_NAME}
        room_name: ${SOCKET_ROOM_NAME} # set it same with backend
    networks:
      simple_network:
        ipv4_address: 172.30.10.12
    ports:
      - ${SOCKET_PORT}:80
    restart: always

  frontend:
    container_name: vue-prototype
    build:
      context: ./frontend
      dockerfile: DockerFile
      args:
        VITE_API_ENDPOINT: ${BACKEND_DOMAIN_NAME}
        VITE_TURNSTILE_SITE_KEY: ${TURNSTILE_SITE_KEY}
        VITE_SOCKET: ${SOCKET_DOMAIN_NAME}
        VITE_RECOVERY: ${RECOVERY}
    networks:
      simple_network:
        ipv4_address: 172.30.10.11
    ports:
      - ${FRONTEND_PORT}:4173
    restart: always

  backend:
    container_name: backend
    build:
      context: ./server
      dockerfile: DockerFile
    ports:
      - ${BACKEND_PORT}:3000
    networks:
      simple_network:
        ipv4_address: 172.30.10.10
    environment:
      - ROOM_NAME=${SOCKET_ROOM_NAME} # Room name to sync with socket
      - DATABASE_URL=postgresql://${POST_USERNAME}:${POST_PASSWORD}@${POST_IP}:${POST_PORT}/${POST_DB}?schema=public # postgres connection string
      - reIP=${REDIS_IP}
      - rePort=${REDIS_PORT}
      - slipKEY=${SLIP2SURE_KEY} # Slip 2 Sure API KEY
      - JWT_SECERT=${JWT_SECERT} # using openssl rand -hex 12
      - FRONT_URI=${FRONTEND_DOMAIN_NAME}
      - MODE=${MODE} # NOT CHANGE THIS VALUE!!
      - RECOVERY=${RECOVERY}
    # env_file:
    #   - server/.env
    volumes:
      - ./files/backend/static:/app/static
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    restart: always

  db:
    image: postgres:14-alpine
    restart: always
    environment:
      - POSTGRES_USER=${POST_USERNAME}
      - POSTGRES_PASSWORD=${POST_PASSWORD}
      - POSTGRES_DB=${POST_DB}
    ports:
      - "${POST_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      simple_network:
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U username -d donate"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:latest
    restart: always
    networks:
      simple_network:
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - redis_data:/data

volumes:
  redis_data:
    driver: local
  postgres_data:
    driver: local

networks:
  simple_network:
    name: simple_network
    ipam:
      driver: default
      config:
        - subnet: 172.30.10.0/24
