services:
  frontend:
    container_name: vue-prototype
    build:
      context: .
      dockerfile: DockerFile
      args:
        VITE_API_ENDPOINT: 'http://localhost:1920'
    ports:
      - 5173:80
    restart: always
