services:
  socket-nginx-single:
    container_name: socket-nginx-single
    build:
      context: .
      dockerfile: DockerFile
      args:
        server: "localhost:3000"
        room_name: "live"
    ports:
      - 8002:80
    restart: always
