@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai:100,200,300,regular,500,600,700);
@import url(https://fonts.googleapis.com/css?family=Material+Icons:regular);

* {
  font-family: 'IBM Plex Sans Thai', sans-serif;
  transition: all 0.3s !important;
}

body {
  width: 100%;
  min-height: 100dvh;

  background: #2e2f2f;
  color: whitesmoke;
}

.flex-container {
  width: 100%;
  height: 100dvh;

  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover {
  opacity: 0.6;
}

.hide {
  display: none !important;
}

.icon {
  font-family: 'Material Icons', monospace !important;
}

.glass-button {
  background: linear-gradient(45deg, transparent, rgba(245, 245, 245, 0.2));
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-left: 0 !important;
  border-bottom: 0 !important;
  border-radius: 1rem;
}
