@keyframes fadeIn {
  from {
    opacity: 0 !important;
    margin-top: 10rem !important;
  }

  to {
    opacity: 1 !important;
    margin-top: 0 !important;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1 !important;
    margin-top: 0 !important;
  }

  to {
    opacity: 0 !important;
    margin-top: 10rem !important;
  }
}

.inFade {
  animation: fadeIn 0.6s ease-in-out;
}

.outFade {
  animation: fadeOut 0.6s ease-in-out;
}

.donate-base {
  margin-top: 10rem;
  opacity: 0;
}

.show {
  opacity: 1 !important;
  margin-top: 0 !important;
}
