@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Thai:100,200,300,regular,500,600,700);

@import url("/src/css/animation.css");

* {
  transition: all 0.6s;
}

body {
  max-width: 1920px;
  width: 100%;
  height: 100dvh;
  /* aspect-ratio: 16/9 !important; */

  background: transparent;

  /* padding: 1rem 0 !important; */
  margin: 0 !important;

  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.item-container {
  width: 100%;
  max-width: 1920px;
  height: auto;

  aspect-ratio: 16/9 !important;

  background: transparent;

  padding: 1rem 0 !important;
  margin: 0 !important;
}

.donate-item {
  width: 22rem;
  height: auto;

  background: rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;

  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;

  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
}
